.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}
.navbar-brand{
  font-weight: 600;
  color: #000;
  padding-left: 0.5em;
}
.navbar-brand:hover{
  color: #000;
}
.navbar-brand img{
  height:35px;
}
.fa-search, .fa-user {
  color:#7D57A2;
}
.dropdown-item i{
  color:#7D57A2;
}
.fa-li {
  position: relative;
  left: 0;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.page-link-text{
  position:relative;
  display:block;
  padding: 0.3em 1em;
  color: #9C9C9C;
}
.page-link-text:hover{
  color:#7D57A2;
}
.btn-registro {
  margin-left: 0.8em;
}
.btn-registro:hover {
  color: #44006b;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.7);
-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.7);
-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.7);
}
.text-dec{
  border-bottom: 5px solid white;
}
.filtro {
  padding: 0.5rem;
}
.filtro span i{
  font-size: 1rem;
  padding-top: 0.1rem;
  color: #9C9C9C;
}
.fa-user{
  font-size: 1rem;
}
.titulo {
  width: 55%;
  padding-left: 0.5em;
}
.btn-go{
  background-color:#722ab9;
  color: #FFF;
  font-size: 0.9rem;
}
.btn-go:hover{
  background-color:#722ab9;
  color: #FFF;
}
.page-item.active .page-link{
  background-color:#722ab9;
  color: #FFF;
}