.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
      
      
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 5px;
      }

.comentario {
 border-bottom: 1px solid #9C9C9C;
}
.imagen {
  border-radius: 50%;
  margin-bottom: 1rem;
}
.s-botones button i{
  color: #7e2fb0;
  font-size:  1.3rem;
}
.s-botones button i:hover{
  color: #7e2fb0;
}

.form-check-label:hover{
  color: #7e2fb0;
}
.note ul a:hover{
  color: #7e2fb0;

}
.titulo{
  text-align: center;
  text-decoration: underline;
  margin: 2rem 0;
}
.contenedor-btns a{
  margin: 0.5rem;
}